.delete{
    display: grid;
    gap: 20px;
    height: 100svh;
    padding: 20px;
}



.box{
    border-radius: 10px;
    background-color: var(--second-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box h3{
    font-size: 26px;
    text-transform: capitalize;
}
.deleteBtn{
    background-color: #e4002b60;
    padding: 20px;
    color: #d20f33;
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.deleteBtn:hover{
    background-color: #e4002b80;
}
.deleteBtn:active{
    transform: scale(.98);
}
.search_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.srch{
    position: relative;
}
.srch svg{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.delete .box input{
    background-color: var(--main-color);
    width: 250px;
    padding: 10px;
    height: auto !important;
    border-radius: 5px;
    padding-left: 40px;
}