.notif{
    display: grid;
    gap: 20px;
    height : 100svh;
    padding: 20px;
}
.notif_box_add{
    background-image: linear-gradient(to left,  #222 , #222, #222222,  green);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 60%;
}
.notif_icon{
    background-color: rgba(0, 0, 0, 0.4);
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.notif_desc{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.notif_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.notif_box_delete{
    background-image: linear-gradient(to left,  #222 , #222, #222222,  red);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 60%;
}
.notif_box_update{
    background-image: linear-gradient(to left,  #222 , #222, #222222,  yellow);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 60%;
}